# Model Building (Baselin Validation Performance)

##### Let's check various model performance with default parameters. Also using cross validation, models we will check
    1. Logistic Regression
    2. Naive Bayes
    3. Decision Tree
    4. K-Nearest Neighbor
    5. Random Forest
    6. Support Vector Classifier

In [31]:
## importing necessary liraries
from sklearn.model_selection import cross_val_score
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression
from sklearn import tree
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
print('succesfull')

succesfull

In [6]:
## importing pandas
import pandas as pd

## loading training dataset
df = pd.read_csv('cleaned_train_data.csv')
df.head()

,Survived,Pclass,Age,SibSp,Parch,Fare,cabin_multiple,numeric_ticket,Sex_male,Embarked_Q,...,name_title_Master,name_title_Miss,name_title_Mlle,name_title_Mme,name_title_Mr,name_title_Mrs,name_title_Ms,name_title_Rev,name_title_Sir,name_title_the Countess
0,0,3,22.0,1,0,7.2500,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
1,1,1,38.0,1,0,71.2833,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,1,3,26.0,0,0,7.9250,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,1,1,35.0,1,0,53.1000,1,1,0,0,...,0,0,0,0,0,1,0,0,0,0
4,0,3,35.0,0,0,8.0500,0,1,1,0,...,0,0,0,0,1,0,0,0,0,0

In [13]:
## partitioning the dataset into dependendent and indedependent dataset
x = df.iloc[:,1:] # independent dataset
y = df.iloc[:,:1] # dependent dataset

In [14]:
# first of all let's check the accuracy for training data set by splitting them into train and test dataset, also we will check the cross-validation-score
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=0.33, random_state=42)
x_train.shape, y_train.shape, x_test.shape, y_test.shape

((595, 62), (595, 1), (294, 62), (294, 1))

## Let's check the accuracy and cross-validation-score for each model without hyper-parameter tunning

## Logistic Regression

In [33]:
## removing warnings
import warnings
warnings.filterwarnings('ignore')

In [38]:
from sklearn.metrics import accuracy_score
lgr = LogisticRegression()
lgr.fit(x_train, y_train)
y_pred_test = lgr.predict(x_test)
y_pred_train = lgr.predict(x_train)
print(f'accuracy score for test data Logistic Regression is {round(accuracy_score(y_pred_test, y_test),2)}')
print(f'accuracy score for train data Logistic Regression is {round(accuracy_score(y_pred_train, y_train),3)}')
print(f'Cross-Validation-Score for Logistic Regression is {round(cross_val_score(lgr,x_train, y_train, cv=5).mean(),2)}')
print(f'Accuracy variance between train and test prediction {round(abs(accuracy_score(y_pred_test, y_test)-accuracy_score(y_pred_train, y_train)),2)}')

accuracy score for test data Logistic Regression is 0.82
accuracy score for train data Logistic Regression is 0.827
Cross-Validation-Score for Logistic Regression is 0.82
Accuracy variance between train and test prediction 0.01

## Naive Bayes

In [39]:
from sklearn.metrics import accuracy_score
gnb = GaussianNB()
gnb.fit(x_train, y_train)
y_pred_test = gnb.predict(x_test)
y_pred_train = gnb.predict(x_train)
print(f'accuracy score for test data Naive Bayes is {round(accuracy_score(y_pred_test, y_test),2)}')
print(f'accuracy score for train data Bayes is {round(accuracy_score(y_pred_train, y_train),3)}')
print(f'Cross-Validation-Score for Naive Bayes is {round(cross_val_score(gnb,x_train, y_train, cv=5).mean(),2)}')
print(f'Accuracy variance between train and test prediction {round(abs(accuracy_score(y_pred_test, y_test)-accuracy_score(y_pred_train, y_train)),2)}')

accuracy score for test data Naive Bayes is 0.46
accuracy score for train data Bayes is 0.471
Cross-Validation-Score for Naive Bayes is 0.45
Accuracy variance between train and test prediction 0.01

## K Nearest Neighbors

In [40]:
knn = KNeighborsClassifier()
knn.fit(x_train, y_train)
y_pred_test = knn.predict(x_test)
y_pred_train = knn.predict(x_train)
print(f'accuracy score for test data KNN is {round(accuracy_score(y_pred_test, y_test),2)}')
print(f'accuracy score for train data KNN is {round(accuracy_score(y_pred_train, y_train),3)}')
print(f'Cross-Validation-Score for KNN is {round(cross_val_score(knn,x_train, y_train, cv=5).mean(),2)}')
print(f'Accuracy variance between train and test prediction {round(abs(accuracy_score(y_pred_test, y_test)-accuracy_score(y_pred_train, y_train)),2)}')

accuracy score for test data KNN is 0.72
accuracy score for train data KNN is 0.793
Cross-Validation-Score for KNN is 0.69
Accuracy variance between train and test prediction 0.07

## Random Forest

In [41]:
rf = RandomForestClassifier()
rf.fit(x_train, y_train)
y_pred_test = rf.predict(x_test)
y_pred_train = rf.predict(x_train)
print(f'accuracy score for test data Random forest is {round(accuracy_score(y_pred_test, y_test),2)}')
print(f'accuracy score for train data Random forest is {round(accuracy_score(y_pred_train, y_train),3)}')
print(f'Cross-Validation-Score for Random forest is {round(cross_val_score(rf,x_train, y_train, cv=5).mean(),2)}')
print(f'Accuracy variance between train and test prediction {round(abs(accuracy_score(y_pred_test, y_test)-accuracy_score(y_pred_train, y_train)),2)}')

accuracy score for test data Random forest is 0.8
accuracy score for train data Random forest is 0.997
Cross-Validation-Score for Random forest is 0.83
Accuracy variance between train and test prediction 0.2

## Support Vector Classifier

In [42]:
svc = SVC()
svc.fit(x_train, y_train)
y_pred_test = svc.predict(x_test)
y_pred_train = svc.predict(x_train)
print(f'accuracy score for test data SVC is {round(accuracy_score(y_pred_test, y_test),2)}')
print(f'accuracy score for train data SVC is {round(accuracy_score(y_pred_train, y_train),3)}')
print(f'Cross-Validation-Score for SVC is {round(cross_val_score(svc,x_train, y_train, cv=5).mean(),2)}')
print(f'Accuracy variance between train and test prediction {round(abs(accuracy_score(y_pred_test, y_test)-accuracy_score(y_pred_train, y_train)),2)}')

accuracy score for test data SVC is 0.67
accuracy score for train data SVC is 0.682
Cross-Validation-Score for SVC is 0.67
Accuracy variance between train and test prediction 0.01

In [51]:
report_accuracy = {
    'Models' : ['Logistic Regression', 'Naive Bayes', 'K Nearest Neighbors', 'Random forest', 'Support Vector Classifier'],
    'Test Accuracy' : [0.82, 0.46,0.72, 0.80,0.67],
    'Train Accuracy' : [0.82, 0.47,0.79, 0.99,0.68],
    'Cross-Val-Score' : [0.82, 0.45,0.69,0.83, 0.67],
    'Accuracy Variance' : [0.01, 0.01,0.07, 0.2,0.01]
}
report_acc = pd.DataFrame(report_accuracy)
report_acc

,Models,Test Accuracy,Train Accuracy,Cross-Val-Score,Accuracy Variance
0,Logistic Regression,0.82,0.82,0.82,0.01
1,Naive Bayes,0.46,0.47,0.45,0.01
2,K Nearest Neighbors,0.72,0.79,0.69,0.07
3,Random forest,0.80,0.99,0.83,0.20
4,Support Vector Classifier,0.67,0.68,0.67,0.01

##### So, we can finally say that <u><b>Logistic Regression</b></u> is the best model for the Titanic Dataset, and we can finally find the score.